<h1>Mat Horizontal-Stepper Customize</h1>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                                Stepper animations
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper animations</h2>
<hr>
<mat-stepper [linear]="false" #stepper1 [animationDuration]="'2000'">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template> You are now done. <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper1.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper with editable steps
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper with editable steps</h2>
<hr>
<button mat-raised-button (click)="isEditable = !isEditable"> {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>
<mat-stepper linear #stepper2 color="accent" class="stepper-2">
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                    required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper2.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                    Stepper that displays errors in the steps
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper that displays errors in the steps</h2>
<hr>
<mat-stepper #stepper3 color="warn">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <p>Go to a different step to see the error state</p>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                    required>
            </mat-form-field>
            <div>
                <p>Go to a different step to see the error state</p>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper3.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper header position
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper header position</h2>
<hr>
<mat-stepper headerPosition="bottom" #stepper4>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template> You are now done. <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper4.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper label bottom position
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper label bottom position</h2>
<hr>
<mat-stepper labelPosition="bottom" #stepper5>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                    required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper5.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper lazy content rendering
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper lazy content rendering</h2>
<hr>
<mat-stepper orientation="horizontal">
    <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
            <p>This content was rendered lazily</p>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper responsive
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper responsive</h2>
<hr>
<ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'">Make your screen smaller to see a vertical stepper</div>
    <div *ngSwitchCase="'vertical'">Make your screen larger to see a horizontal stepper</div>
</ng-container>
<mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Fill out your name">
        <form [formGroup]="firstFormGroup">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                    required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Fill out your phone number">
        <form [formGroup]="thirdFormGroup">
            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>
<br><br>
<!-------------------------------------------------------------------------------------------------------------
                                            Stepper with customized states
-------------------------------------------------------------------------------------------------------------->
<h2 class="fw-bold text-danger">Stepper with customized states</h2>
<hr>
<mat-stepper>
    <mat-step label="Step 1" state="phone">
        <p>Put down your phones.</p>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 2" state="chat">
        <p>Socialize with each other.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 3">
        <p>You're welcome.</p>
    </mat-step>
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
    </ng-template>
</mat-stepper><br><br>