<h1>Mat Dialog Customize</h1>
<br><br>
<!-------------- Dialog Animations ------------->
<div class="flex-box">
    <p>Dialog Animations</p>
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialogAnimation('0ms', '0ms')">Open dialog without
            animation</button>
    </div>
    <div class="column">
        <button mat-raised-button color="accent" (click)="openDialogAnimation('3000ms', '1500ms')">Open dialog
            slowly</button>
    </div>
</div>
<!-------------- Verticallly & Horizontally Center Dialog ------------->
<div class="flex-box">
    <p>Verticallly & Horizontally Center Dialog</p>
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialog()">Center dialog</button>
    </div>
</div>
<!----------------- Top Position Dialog ---------------->
<div class="flex-box">
    <p>Position Top Dialog Box</p>
    <!---------- Top-Right ---------->
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialog2()">Top Right dialog</button>
    </div>
    <!---------- Top-Left ---------->
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialog3()">Top Left dialog</button>
    </div>
    <!---------- Top-Center ---------->
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialog4()">Top Center dialog</button>
    </div>
</div>
<!----------------- Bottom Position Dialog ---------------->
<div class="flex-box">
    <p>Position Bottom Dialog Box</p>
    <!---------- Bottom-Right ---------->
    <div class="column">
        <button mat-raised-button color="accent" (click)="openDialog5()">Bottom Right dialog</button>
    </div>
    <!---------- Bottom-Left ---------->
    <div class="column">
        <button mat-raised-button color="accent" (click)="openDialog6()">Bottom Left dialog</button>
    </div>
    <!---------- Bottom-Center ---------->
    <div class="column">
        <button mat-raised-button color="accent" (click)="openDialog7()">Bottom Center dialog</button>
    </div>
</div>
<!----------------- Right Position Dialog ---------------->
<div class="flex-box">
    <p>Position Right Dialog Box</p>
    <!---------- Right ---------->
    <div class="column">
        <button mat-raised-button color="warn" (click)="openDialog8()">Right center dialog</button>
    </div>
</div>
<!----------------- Left Position Dialog ---------------->
<div class="flex-box">
    <p>Position Left Dialog Box</p>
    <!---------- Left ---------->
    <div class="column">
        <button mat-raised-button color="primary" (click)="openDialog9()">Left Center dialog</button>
    </div>
</div>
<!--------------- Set Dialog box Height & Width ---------------->
<div class="flex-box">
    <p>Set Dialog box Height & Width</p>
    <div class="column">
        <button mat-raised-button color="accent" (click)="openDialog10()">Set Height & Width</button>
    </div>
</div>
<br><br><br>