<h1>Mat Button-toggle</h1>
<br>
<hr>
<div class="box-group">
    <!--=================================================================================================
                                            Primary Button Toggle 
    =================================================================================================--->
    <!------------- Normal Button Toogle ------------->
    <div>
        <p>Primary Button Toggle (Normal)</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="primary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Vertical Button Toogle ------------->
    <div>
        <p>primary Button Toggle (Vertical)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            vertical="true"
            class="primary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Right to Left Button Toogle ------------->
    <div>
        <p>primary Button Toggle (Right to Left)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            dir="rtl"
            class="primary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Multiple Select Button Toogle ------------->
    <div>
        <p>primary Button Toggle (Multiple)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            class="primary-button-toggle"
            multiple>
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!--=================================================================================================
                                            Accent Button Toggle 
    =================================================================================================--->
    <!------------- Normal Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Normal)</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="accent-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Vertical Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Vertical)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            vertical="true"
            class="accent-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Right to Left Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Right To Left)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            dir="rtl"
            class="accent-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Multiple Select Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Multiple)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            multiple
            class="accent-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!--=================================================================================================
                                            Warn Button Toggle 
    =================================================================================================--->
    <!------------- Normal Button Toogle ------------->
    <div>
        <p>warn Button Toggle (Normal)</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="warn-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Vertical Button Toogle ------------->
    <div>
        <p>warn Button Toggle (Vertical)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            vertical="true"
            class="warn-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Right to Left Button Toogle ------------->
    <div>
        <p>warn Button Toggle (Right To left)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            dir="rtl"
            class="warn-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Multiple Select Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Multiple)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            multiple
            class="warn-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!--=================================================================================================
                                            Secondary Button Toggle 
    =================================================================================================--->
    <!------------- Normal Button Toogle ------------->
    <div>
        <p>Secondary Button Toggle (Normal)</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="secondary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Vertical Button Toogle ------------->
    <div>
        <p>Secondary Button Toggle (Vertical)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            vertical="true"
            class="secondary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Right to Left Button Toogle ------------->
    <div>
        <p>Secondary Button Toggle (Right To left)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            dir="rtl"
            class="secondary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Multiple Select Button Toogle ------------->
    <div>
        <p>Accent Button Toggle (Multiple)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            multiple
            class="secondary-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!--=================================================================================================
                                            Warning Button Toggle 
    =================================================================================================--->
    <!------------- Normal Button Toogle ------------->
    <div>
        <p>Warning Button Toggle (Normal)</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="warning-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Vertical Button Toogle ------------->
    <div>
        <p>Warning Button Toggle (Vertical)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            vertical="true"
            class="warning-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Right to Left Button Toogle ------------->
    <div>
        <p>Warning Button Toggle (Right To left)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            dir="rtl"
            class="warning-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!------------- Multiple Select Button Toogle ------------->
    <div>
        <p>Warning Button Toggle (Multiple)</p>
        <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            multiple
            class="warning-button-toggle">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<!--=================================================================================================
                                            Legecy Button Toggle 
=================================================================================================--->
<br><br>
<p> Legacy appearance: <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
</p>
<br><br><br><br>