<h1>Mat Divider Customize</h1>
<br><br>
<!------------------------------------------------------------------------------------------------------------------
                                             Horizontal Divider 
------------------------------------------------------------------------------------------------------------------->
<h2>Horizontal Divider</h2>
<div class="grid-box">
    <!------------ ByDefault Divider ------------>
    <div class="column">
        <p>ByDefault Divider</p>
        <mat-divider></mat-divider>
    </div>
    <!------------ Custom Divider 1 ------------>
    <div class="column">
        <p>Custom Divider 1</p>
        <mat-divider class="divider1"></mat-divider>
    </div>
    <!------------ Custom Divider 2 ------------>
    <div class="column">
        <p>Custom Divider 2</p>
        <mat-divider class="divider2"></mat-divider>
    </div>
    <!------------ Custom Divider 3 ------------>
    <div class="column">
        <p>Custom Divider 3</p>
        <mat-divider class="divider3"></mat-divider>
    </div>
    <!------------ Custom Divider 4 ------------>
    <div class="column">
        <p>Custom Divider 4</p>
        <mat-divider class="divider4"></mat-divider>
    </div>
    <!------------ Custom Divider 5 ------------>
    <div class="column">
        <p>Custom Divider 5</p>
        <mat-divider class="divider5"></mat-divider>
    </div>
</div>
<br><br>
<!------------------------------------------------------------------------------------------------------------------
                                             Vertical Divider 
------------------------------------------------------------------------------------------------------------------->
<h2>Vertical Divider</h2>
<div class="grid-box-2">
    <!------------ ByDefault Vertical Divider ------------>
    <div class="column">
        <span>ByDefault Vertical Divider</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
    <!------------ Custom Vertical Divider 1 ------------>
    <div class="column">
        <span>Custom Vertical Divider 1</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-1"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-1"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
    <!------------ Custom Vertical Divider 2 ------------>
    <div class="column">
        <span>Custom Vertical Divider 2</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-2"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-2"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
    <!------------ Custom Vertical Divider 3 ------------>
    <div class="column">
        <span>Custom Vertical Divider 3</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-3"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-3"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
    <!------------ Custom Vertical Divider 4 ------------>
    <div class="column">
        <span>Custom Vertical Divider 4</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-4"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-4"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
    <!------------ Custom Vertical Divider 5 ------------>
    <div class="column">
        <span>Custom Vertical Divider 5</span>
        <div class="grid-box-2">
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-5"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
                <mat-divider vertical class="vertical-divider-5"></mat-divider>
            </div>
            <div class="vertical-divider">
                <ol>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br><br>